server {
    listen ${PORT};
    listen [::]:${PORT};

    location / {
        if ($request_uri ~ ^/(.*)\.html(\?|$)) {
            return 302 /$1;
        }
        try_files $uri $uri.html $uri/ =404;
    }

    resolver 127.0.0.11;
    autoindex off;

    server_name _;
    server_tokens off;

    root /client/static;
    gzip_static on;
}